In [38]:
%config IPCompleter.greedy=True

In [39]:
from selenium import webdriver
import pandas as pd
import lxml.html

In [40]:
options = webdriver.ChromeOptions()
driver = webdriver.Chrome(chrome_options=options)
driver.get('https://understat.com/league/EPL')
source = driver.page_source
tree = lxml.html.fromstring(source)

c:\users\christopher\appdata\local\programs\python\python37-32\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: use options instead of chrome_options

In [41]:
header_els = tree.xpath('//div[@id="league-chemp"]//table//th')
headers_list = []
for header in header_els:
    headers_list.append(header.text_content())
print(headers_list)

['№', 'Team', 'M', 'W', 'D', 'L', 'G', 'GA', 'PTS', 'xG', 'xGA', 'xPTS']

In [50]:
tbody = tree.xpath('//div[@id="league-chemp"]/table/tbody')[0]
rows = []
for tr in tbody.findall('tr'):
    row = tr.findall('td')
    current_row = []
    for item in row:
        current_row.append(item.text_content())
    rows.append(current_row)

In [51]:
xg_df = pd.DataFrame(rows, columns=headers_list)
xg_df

,№,Team,M,W,D,L,G,GA,PTS,xG,xGA,xPTS
0,1,Manchester City,29,23,2,4,76,20,71,72.84-3.16,21.25+1.25,68.94-2.06
1,2,Liverpool,29,21,7,1,64,15,70,59.07-4.93,21.91+6.91,63.56-6.44
2,3,Tottenham,29,20,1,8,56,30,61,48.36-7.64,36.70+6.70,48.35-12.65
3,4,Manchester United,29,17,7,5,58,38,58,53.19-4.81,40.45+2.45,47.29-10.71
4,5,Arsenal,29,17,6,6,61,39,57,50.43-10.57,38.91-0.09,48.12-8.88
5,6,Chelsea,28,17,5,6,49,30,56,46.21-2.79,29.28-0.72,51.63-4.37
6,7,Wolverhampton Wanderers,29,12,7,10,37,35,43,40.61+3.61,30.93-4.07,46.66+3.66
7,8,Watford,29,12,7,10,41,41,43,40.88-0.12,41.40+0.40,40.47-2.53
8,9,West Ham,29,11,6,12,37,41,39,35.87-1.13,47.68+6.68,33.56-5.44
9,10,Everton,29,10,7,12,39,39,37,37.25-1.75,41.76+2.76,36.58-0.42
10,11,Leicester,29,10,5,14,35,41,35,37.11+2.11,35.66-5.34,41.16+6.16
11,12,Bournemouth,29,10,4,15,39,54,34,40.53+1.53,47.25-6.75,36.78+2.78
12,13,Crystal Palace,29,9,6,14,35,39,33,36.31+1.31,39.01+0.01,38.17+5.17
13,14,Newcastle United,29,8,7,14,26,36,31,28.40+2.40,47.39+11.39,26.59-4.41
14,15,Brighton,28,8,6,14,30,41,30,31.00+1.00,44.26+3.26,29.86-0.14
15,16,Burnley,29,8,6,15,32,53,30,34.83+2.83,49.20-3.80,33.24+3.24
16,17,Southampton,29,6,9,14,32,49,27,34.55+2.55,45.44-3.56,32.68+5.68
17,18,Cardiff,29,7,4,18,25,57,25,29.47+4.47,50.10-6.90,27.16+2.16
18,19,Fulham,29,4,5,20,27,65,17,33.36+6.36,55.17-9.83,27.47+10.47
19,20,Huddersfield,29,3,5,21,15,51,14,19.80+4.80,46.33-4.67,23.51+9.51

In [61]:
xg_df['G'] = pd.to_numeric(xg_df['G'])
xg_df['GA'] = pd.to_numeric(xg_df['GA'])
xg_df['GD'] = xg_df['G']-xg_df['GA']
xg_df

,№,Team,M,W,D,L,G,GA,PTS,xG,xGA,xPTS,GD
0,1,Manchester City,29,23,2,4,76,20,71,72.84-3.16,21.25+1.25,68.94-2.06,56
1,2,Liverpool,29,21,7,1,64,15,70,59.07-4.93,21.91+6.91,63.56-6.44,49
2,3,Tottenham,29,20,1,8,56,30,61,48.36-7.64,36.70+6.70,48.35-12.65,26
3,4,Manchester United,29,17,7,5,58,38,58,53.19-4.81,40.45+2.45,47.29-10.71,20
4,5,Arsenal,29,17,6,6,61,39,57,50.43-10.57,38.91-0.09,48.12-8.88,22
5,6,Chelsea,28,17,5,6,49,30,56,46.21-2.79,29.28-0.72,51.63-4.37,19
6,7,Wolverhampton Wanderers,29,12,7,10,37,35,43,40.61+3.61,30.93-4.07,46.66+3.66,2
7,8,Watford,29,12,7,10,41,41,43,40.88-0.12,41.40+0.40,40.47-2.53,0
8,9,West Ham,29,11,6,12,37,41,39,35.87-1.13,47.68+6.68,33.56-5.44,-4
9,10,Everton,29,10,7,12,39,39,37,37.25-1.75,41.76+2.76,36.58-0.42,0
10,11,Leicester,29,10,5,14,35,41,35,37.11+2.11,35.66-5.34,41.16+6.16,-6
11,12,Bournemouth,29,10,4,15,39,54,34,40.53+1.53,47.25-6.75,36.78+2.78,-15
12,13,Crystal Palace,29,9,6,14,35,39,33,36.31+1.31,39.01+0.01,38.17+5.17,-4
13,14,Newcastle United,29,8,7,14,26,36,31,28.40+2.40,47.39+11.39,26.59-4.41,-10
14,15,Brighton,28,8,6,14,30,41,30,31.00+1.00,44.26+3.26,29.86-0.14,-11
15,16,Burnley,29,8,6,15,32,53,30,34.83+2.83,49.20-3.80,33.24+3.24,-21
16,17,Southampton,29,6,9,14,32,49,27,34.55+2.55,45.44-3.56,32.68+5.68,-17
17,18,Cardiff,29,7,4,18,25,57,25,29.47+4.47,50.10-6.90,27.16+2.16,-32
18,19,Fulham,29,4,5,20,27,65,17,33.36+6.36,55.17-9.83,27.47+10.47,-38
19,20,Huddersfield,29,3,5,21,15,51,14,19.80+4.80,46.33-4.67,23.51+9.51,-36

In [63]:
cols = list(xg_df.columns.values)
print(cols)

['№', 'Team', 'M', 'W', 'D', 'L', 'G', 'GA', 'PTS', 'xG', 'xGA', 'xPTS', 'GD']

In [64]:
cols = ['№', 'Team', 'M', 'W', 'D', 'L', 'G', 'GA', 'GD', 'PTS', 'xG', 'xGA', 'xPTS']
xg_df = xg_df.reindex(columns=cols)
xg_df

,№,Team,M,W,D,L,G,GA,GD,PTS,xG,xGA,xPTS
0,1,Manchester City,29,23,2,4,76,20,56,71,72.84-3.16,21.25+1.25,68.94-2.06
1,2,Liverpool,29,21,7,1,64,15,49,70,59.07-4.93,21.91+6.91,63.56-6.44
2,3,Tottenham,29,20,1,8,56,30,26,61,48.36-7.64,36.70+6.70,48.35-12.65
3,4,Manchester United,29,17,7,5,58,38,20,58,53.19-4.81,40.45+2.45,47.29-10.71
4,5,Arsenal,29,17,6,6,61,39,22,57,50.43-10.57,38.91-0.09,48.12-8.88
5,6,Chelsea,28,17,5,6,49,30,19,56,46.21-2.79,29.28-0.72,51.63-4.37
6,7,Wolverhampton Wanderers,29,12,7,10,37,35,2,43,40.61+3.61,30.93-4.07,46.66+3.66
7,8,Watford,29,12,7,10,41,41,0,43,40.88-0.12,41.40+0.40,40.47-2.53
8,9,West Ham,29,11,6,12,37,41,-4,39,35.87-1.13,47.68+6.68,33.56-5.44
9,10,Everton,29,10,7,12,39,39,0,37,37.25-1.75,41.76+2.76,36.58-0.42
10,11,Leicester,29,10,5,14,35,41,-6,35,37.11+2.11,35.66-5.34,41.16+6.16
11,12,Bournemouth,29,10,4,15,39,54,-15,34,40.53+1.53,47.25-6.75,36.78+2.78
12,13,Crystal Palace,29,9,6,14,35,39,-4,33,36.31+1.31,39.01+0.01,38.17+5.17
13,14,Newcastle United,29,8,7,14,26,36,-10,31,28.40+2.40,47.39+11.39,26.59-4.41
14,15,Brighton,28,8,6,14,30,41,-11,30,31.00+1.00,44.26+3.26,29.86-0.14
15,16,Burnley,29,8,6,15,32,53,-21,30,34.83+2.83,49.20-3.80,33.24+3.24
16,17,Southampton,29,6,9,14,32,49,-17,27,34.55+2.55,45.44-3.56,32.68+5.68
17,18,Cardiff,29,7,4,18,25,57,-32,25,29.47+4.47,50.10-6.90,27.16+2.16
18,19,Fulham,29,4,5,20,27,65,-38,17,33.36+6.36,55.17-9.83,27.47+10.47
19,20,Huddersfield,29,3,5,21,15,51,-36,14,19.80+4.80,46.33-4.67,23.51+9.51